<main class="">
  <div class="flex-col w-11/12 m-auto py-48">
    <h2>Login as admin</h2>
    <form action="post">
      <input type="text" />
      <input type="password" />
      <input type="submit" />
    </form>
  </div>
</main>