<main class="bg-slate-100">
<h2>Cleaning inc</h2>

  <div class="flex-col w-11/12 m-auto py-48">
    <h2 class="text-6xl mb-4">Worlds best cleaning app is now here!</h2>
    <p class="text-gray-700 text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, inventore? Unde reiciendis nulla quibusdam culpa vel expedita excepturi cum sequi natus amet corporis veritatis aliquid atque, mollitia totam deleniti vero!</p>
    </div>
  </div>
</main>