<h2>Login</h2>

<form action="/user/login" method="post">
    <input type="text" name="email" placeholder="Email" />
    <br />
    <input type="text" name="password" placeholder="Password" />
    <br />
    <input type="submit" value="Login" />
    <p>{{errorMessage}}</p>
</form>