<h2>Register</h2>

<form action="/user/register" method="post">
    <input type="text" name="email" placeholder="Email" />
    <br />
    <input type="text" name="password" placeholder="Password" />
    <br />
    <input type="text" name="confirmPassword" placeholder="Repeat password" />
    <br />
    <input type="text" name="name" placeholder="Name" />
    <br />
    <input type="text" name="street" placeholder="Street" />
    <br />
    <input type="text" name="zipcode" placeholder="Zipcode" />
    <br />
    <input type="text" name="town" placeholder="Town" />
    <br />
    <input type="submit" value="Register" />
</form>