<section class="w-10/12 m-auto mb-8">
  <h2 class="font-bold text-2xl mb-6">Vilkor</h2>
  <p class="mb-4">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam,
    molestias, exercitationem numquam quidem accusantium sunt debitis dolore
    soluta ex sapiente dolores consequatur magnam recusandae distinctio
    voluptate corrupti ad alias cupiditate. Lorem ipsum, dolor sit amet
    consectetur adipisicing elit. Quisquam, molestias, exercitationem numquam
    quidem accusantium sunt debitis dolore soluta ex sapiente dolores
    consequatur magnam recusandae distinctio voluptate corrupti ad alias
    cupiditate. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    Quisquam, molestias, exercitationem numquam quidem accusantium sunt debitis
    dolore soluta ex sapiente dolores consequatur magnam recusandae distinctio
    voluptate corrupti ad alias cupiditate. Lorem ipsum, dolor sit amet
    consectetur adipisicing elit. Quisquam, molestias, exercitationem numquam
    quidem accusantium sunt debitis dolore soluta ex sapiente dolores
    consequatur magnam recusandae distinctio voluptate corrupti ad alias
    cupiditate.
  </p>
  <p class="mb-4">
  </p>
  <p class="mb-4">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam,
    molestias, exercitationem numquam quidem accusantium sunt debitis dolore
    soluta ex sapiente dolores consequatur magnam recusandae distinctio
    voluptate corrupti ad alias cupiditate. Lorem ipsum, dolor sit amet
    consectetur adipisicing elit. Quisquam, molestias, exercitationem numquam
    quidem accusantium sunt debitis dolore soluta ex sapiente dolores
    consequatur magnam recusandae distinctio voluptate corrupti ad alias
    cupiditate. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    Quisquam, molestias, exercitationem numquam quidem accusantium sunt debitis
    dolore soluta ex sapiente dolores consequatur magnam recusandae distinctio
    voluptate corrupti ad alias cupiditate. Lorem ipsum, dolor sit amet
    consectetur adipisicing elit. Quisquam, molestias, exercitationem numquam
    quidem accusantium sunt debitis dolore soluta ex sapiente dolores
    consequatur magnam recusandae distinctio voluptate corrupti ad alias
    cupiditate.
  </p>
  <p class="mb-4">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam,
    molestias, exercitationem numquam quidem accusantium sunt debitis dolore
    soluta ex sapiente dolores consequatur magnam recusandae distinctio
    voluptate corrupti ad alias cupiditate. Lorem ipsum, dolor sit amet
    consectetur adipisicing elit. Quisquam, molestias, exercitationem numquam
    quidem accusantium sunt debitis dolore soluta ex sapiente dolores
    consequatur magnam recusandae distinctio voluptate corrupti ad alias
    cupiditate.
  </p>
  <p class="mb-4">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam,
    molestias, exercitationem numquam quidem accusantium sunt debitis dolore
    soluta ex sapiente dolores consequatur magnam recusandae distinctio
    voluptate corrupti ad alias cupiditate. Lorem ipsum, dolor sit amet
    consectetur adipisicing elit. Quisquam, molestias, exercitationem numquam
    quidem accusantium sunt debitis dolore soluta ex sapiente dolores
    consequatur magnam recusandae distinctio voluptate corrupti ad alias
    cupiditate. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    Quisquam, molestias, exercitationem numquam quidem accusantium sunt debitis
    dolore soluta ex sapiente dolores consequatur magnam recusandae distinctio
    voluptate corrupti ad alias cupiditate. Lorem ipsum, dolor sit amet
    consectetur adipisicing elit. Quisquam, molestias, exercitationem numquam
    quidem accusantium sunt debitis dolore soluta ex sapiente dolores
    consequatur magnam recusandae distinctio voluptate corrupti ad alias
    cupiditate. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    Quisquam, molestias, exercitationem numquam quidem accusantium sunt debitis
    dolore soluta ex sapiente dolores consequatur magnam recusandae distinctio
    voluptate corrupti ad alias cupiditate. Lorem ipsum, dolor sit amet
    consectetur adipisicing elit. Quisquam, molestias, exercitationem numquam
    quidem accusantium sunt debitis dolore soluta ex sapiente dolores
    consequatur magnam recusandae distinctio voluptate corrupti ad alias
    cupiditate. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    Quisquam, molestias, exercitationem numquam quidem accusantium sunt debitis
    dolore soluta ex sapiente dolores consequatur magnam recusandae distinctio
    voluptate corrupti ad alias cupiditate.
  </p>
  <p class="mb-4">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam,
    molestias, exercitationem numquam quidem accusantium sunt debitis dolore
    soluta ex sapiente dolores consequatur magnam recusandae distinctio
    voluptate corrupti ad alias cupiditate. Lorem ipsum, dolor sit amet
    consectetur adipisicing elit. Quisquam, molestias, exercitationem numquam
    quidem accusantium sunt debitis dolore soluta ex sapiente dolores
    consequatur magnam recusandae distinctio voluptate corrupti ad alias
    cupiditate. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    Quisquam, molestias, exercitationem numquam quidem accusantium sunt debitis
    dolore soluta ex sapiente dolores consequatur magnam recusandae distinctio
    voluptate corrupti ad alias cupiditate. Lorem ipsum, dolor sit amet
    consectetur adipisicing elit. Quisquam, molestias, exercitationem numquam
    quidem accusantium sunt debitis dolore soluta ex sapiente dolores
    consequatur magnam recusandae distinctio voluptate corrupti ad alias
    cupiditate.
  </p>
</section>